{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Portal</title>

    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/button.css' %}" rel="stylesheet"> -->




    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




  </head>

  <body>
    <nav id="sidebar-wrapper">
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>4a Designers </h1>
        <h3>We are hiring join us </h3>
        <br>
        <button type="button">
        <a href="{% url 'registration' %}" class="btn btn-dark btn-lg js-scroll-trigger">Click here</a>
        </button>
      </div>
      <!-- <nav>
      <a href= class="button">Login/SignUp</a>
      </nav> -->
      <a href="{% url 'login' %}" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> SingUp/Login</a>


    </header>

  </body>

</html>




{% endblock %}

