{% extends 'base.html' %}

{% block content %}
 <!DOCTYPE html>
 <html>
 <head>
 	<title>Job Portal</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





 	<style type="text/css">
 		body {
  height: 100%;
  width: 100%;
  background: #0099ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

 	</style>
 </head>
 <body>
 
 </html>
  <p>
  	<button type="button">
  	<a href="{% url 'home' %}">Home</a>
  	</button>
  </p>

<div>
	<center>

		<h1>Please Provide your details</h1>
  		<form method="post" enctype="multipart/form-data">
    		{% csrf_token %}
    		<!-- {{ form.as_p }} -->
        {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                         <br>
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
        {% endfor %}
    		<button type="submit">Upload</button>
  		</form>
	</center>
</div>
</body>
{% endblock %}