
{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Portal</title>

    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'js/navbar-burger.js' %}" rel="stylesheet">



  </head>

<body>

    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Login</h3>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="SignIn" class="button is-primary">
                    <br>
                    <p>Don't have an Account?</p>
                    <a href="{% url 'register' %}"><input type="text" value="SingUp" style="height:40px; width:80px" class="button is-danger"></a>
                </form>
        
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}

